.caption {
    text-align: center;
}

body {

    color: #4b4b4b;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 150%;
}

.header {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:  #111;;
}

text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.tick text {
    fill: black;
    font-size: 11px;
}

.bar1{
    fill:#1f77b4;
    stroke: white;
}

.bar2{
    fill:#ff7f0e;
    stroke: white;
}


.line{
    fill:none;
    stroke: #1f77b4;
    stroke-width: 1.5px;
}


.line1{
    fill:none;
    stroke: #1f77b4;
    stroke-width: 3px;
}

.line2{
    fill:none;
    stroke:  #ff7f0e;
    stroke-width: 1.5px;
}

.dot {

    stroke-width: 1.5px;
}

.label {
    font-size: 10px;
}
.selector {
    position:relative;
    float:left;
    font-size:13px;
    font-weight:300;
    margin-right:8px;
}
#label {
    margin-left: 5px;
    font-size:16px;
}

#dynamicOptions{
    display:none;
}

.wrapper
{
    margin: 0 auto;
    width: 1000px;
}

.left {
    background-color:#F2F2F2 ;
}
.bottom {
    background-color:#F2F2F2 ;
}
nav
{

    height: 28px;
    background-color: #1f77b4;
    color: #ffffff;
    padding-left: 5px ;
    padding-right: 20px ;

}
a {
    text-decoration: none;
    margin-left: 5px;
    color: #ffffff;
    line-height: 28px;
}
h1 {
    font-size: 20px;

}

.imgdivs {
    float: left;
}

.clearfix {
    overflow: auto;
    clear: both;
}

#sourcedownlaod {

    float: right;
    color:#1f77b4
}

img {
    width: 500px;
    height: 100%;
    border: 1px;
    border-color: #A9A9A9;
}

.block {

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
}